.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin:1em 1em auto;
    color:white;
    object-fit: fill;
  }
  .main-contact {
    padding:2em;
    height:100%;
    border-radius: 1em;
    background-color: rgb(0, 61, 92);
  }
  .main-contact *{
    margin: 1em 0em;
  }
.page-heading{
      border: solid 1em black;
  }
  form {
    display: grid;
    grid-template-columns: [lables]10em [forms]50%;
    grid-gap: 1em;
    background-color: rgb(0, 61, 92);
    padding: 2em;
    border-radius: 1em;
    
  }
  input, textarea{
    margin: 0 0.5em;
    padding:0.5em;
    border: solid 0.1em white;
    background-color: rgb(0, 61, 92);
    color:white;
    width:100%;
  }
input:focus, textarea:focus{
    outline:none;
    border-color: rgb(44,161,107);
}
label{
    color: white;
    font-weight: bold;
    text-align:end
}
input[type=submit]{
    grid-column: forms;
    background-color:rgb(10, 10, 46);
    border-radius:0.2em;
    width:50%;
}
input[type=submit]:hover{
    background-color: #02450f;
    cursor: pointer;
}
@media only screen and (max-width : 320px) {
        .contact-container{
            display: flex;
            flex-direction: column;
        }
 }
  
  /*contact
  
  .contact .contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em ;
    color:white;
  }
  .contact .contact-container .main-contact{
   display: flex;
   flex-direction: column;
  
  }
  .contact .contact-container .main-contact p{
      margin-top: 4em;
  
  }
  
  .contact .contact-container .contact-form{
    margin: 1em 3em;
    color:white;
  }
  .contact .contact-container .contact-form input, textarea{
    display: inline-block;
    width:80%;
    margin: 1em;
    padding: 0.3em;
    color:white;
    border-radius: 2em;
  }
  .contact .contact-container .main-contact .contact_info li{ 
      margin: 1em 1em;
  }
  
  
  /*contact*/
  