.contact-container{
    display: grid;
    grid-template-columns: [contact]1fr [form]1fr;
    grid-gap: 1rem;
    margin:3rem 1rem 3rem;
    color:white;

  }
  .contact-container__main-contact{
    grid-column: contact;
    padding:2em;
    height:100%;
    border-radius: 1em;
    background-color: rgb(0, 61, 92);
  }
  .contact-container__main-contact *{
    margin: 1rem 0rem;
  }
 .contact-container__main-contact--email{
    list-style: none;
    background-image:url(../images/email.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding:1rem 3rem;
  }
  .contact-container__main-contact--phone_number{
    list-style: none;
    background: url(../images/phone.svg) no-repeat left center;
    padding:1rem 3rem;
  }
  .contact-container__main-contact--address{
    list-style: none;
    background: url(../images/address.svg) no-repeat left center;
    padding:1rem 3rem;
  }
  .contact-container__contact-form{
    grid-column: form;
  }

  form {
    display: grid;
    grid-template-columns: [lables]7rem [forms]auto;
    grid-gap: 1rem;
    background-color: rgb(0, 61, 92);
    padding: 2rem;
    border-radius: 1rem;
    
  }
  input, textarea{
    margin: 0 0.5rem;
    padding:0.5rem;
    border: solid 0.1rem white;
    background-color: rgb(0, 61, 92);
    color:white;
    width:100%;
  }
input:focus, textarea:focus{
    outline:none;
    border-color: rgb(44,161,107);
}
label{
    color: white;
    font-weight: bold;
}
input[type=submit]{
    grid-column: forms;
    background-color:rgb(10, 10, 46);
    border-radius:0.2rem;
    width:50%;
}
input[type=submit]:hover{
    background-color: #02450f;
    cursor: pointer;
}
@media only screen and (max-width : 460px) {
        .contact-container{
            display: flex;
            flex-direction: column;
            grid-gap:0;
        }
        input[type=submit]{
          width:100%;
        }

 }
  
  