.projects{
    display: flex;
   flex-wrap: wrap;
    margin: 0em 6em;
    color: white;
  }
  .projects li{
    display: block;
    width:15em;
    margin: 1em;
    padding: 1em;  
    background-color:rgb(10,54,105);
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.2);
    border: solid 0.05em;
    border-color: white;
  }
  .projects li:hover{
    position:relative;
    border-color: seagreen;
    top:-0.5em;
    right: 0.5em;
  }
  .projects li h2:hover{
      cursor: pointer;
     color:seagreen;
  }
  .projects li a{
      display:block;
      margin: 2em 0em 0em;
      color:white;
  }
  .projects li a:hover{
      color:seagreen;
      font-weight:900;
  }
  .projects li img{
      width: 100%;
    border-radius: 1em;
  }
  .projects li .button{
    background-color: rgb(10, 10, 46);
    padding:0.2em 1.5em;
    position: relative;
    left: 30%;
    top: 16%;
  
  }

  /*project*/