
.skills-container{
  display: flex;
  flex-direction: column;
    margin:3rem 3rem 3rem ;
    color: white;
  }
 .skills-container__myskills{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
  }
  .skills-container__aboutskills{
    width:90%;
    align-self: center;
    padding:1rem;
    background-color: rgb(2, 50, 75);
    border-radius: 1rem;
  }
  
  .skills-container__progress {
    width: 100%;
    border: 0.1rem solid rgb(10, 10, 46);
  }
  .skills-container__progress--progressbar {
    height: 1.5rem;
    background-color: rgb(10, 10, 46);
    animation: fill-bar 3s ;
  }
  .html  .skills-container__progress--progressbar {
    width: 95%;
  }
  .css  .skills-container__progress--progressbar {
    width: 90%;
  }
  .javascript .skills-container__progress--progressbar {
    width: 86%;
  }
  .react  .skills-container__progress--progressbar {
    width: 85%;
  }
  .node  .skills-container__progress--progressbar {
    width: 80%;
  }
  .django  .skills-container__progress--progressbar {
    width: 89%;
  }
  .python  .skills-container__progress--progressbar {
    width: 94%;
  }
  .java  .skills-container__progress--progressbar {
    width: 91%;
  }
  .cplusplus .skills-container__progress--progressbar {
    width: 84%;
  }

  @keyframes fill-bar {
    from {width: 0%;}
    to {width: calc(95% * 15rem);}
  }
  .skills-container__skill{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:2rem 1.5rem;
    width: 20rem;
    justify-content: space-between;
    padding:2rem;
    background-color: rgb(2, 63, 94);
    border-radius: 1rem;
    
  }
  .skills-container__skill_n{
    display: flex;
    justify-content: space-between;
  }
  @media only screen and (max-width : 460px) {
    .skills-container__myskills{
        flex-direction: column;
        align-items: center;
        
    }
    .skills-container__skill{
      margin:1rem;
      width: 100%;
    }
    .skills-container__aboutskills{
     width:100%;
     align-self: start;
     }
 }
  
  
