*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: grid;
    grid-template-rows: [header]60px [main]1fr [footer]60px;
    background-color: rgb(0,74,111);
}
.navbar .nav-container .current-page a{
  color:rgb(44,161,107);
}
.navbar{
   position: sticky;
   top:0;
    background-color: rgb(10, 10, 46);
    width: 100%;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}
.container{
  margin: 0em 1em;
}
.navbar .logo a{
  font-size: 1em; ;
  font-weight: bold;
  color: rgb(219, 219, 219);
  margin: 1em 0.5em ;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  margin: 0.5em;  
}
.navbar .menu li a{
  font-size: 0.5em;
  font-weight: 500;
  color:white;
  font-size: 1.5em;
  padding: 0 1em;
}
.navbar .menu li a:hover {
position: relative;
opacity: 0.6;
top: 0.2em;
left: 0.1em;
}
@media only screen and (max-width : 320px) {
   .menu{
     display: none;
   }
   .home-content{
     flex-direction: column;
   }
}

/*home page*/
.home-content{
    display: flex;
    align-items: center;
}


#profile_image {
    display:block;
    margin: 1em 2em;
    border-radius: 10em;
    border-style: solid; 
    border-width: 1em;;
    border-color:#05e35e;     
  }
#welcome{
    margin: 250px 10px;
    color: white;
    font-size: 1.5em;
}
.button  {
    display: inline-block;
    border:2px rgb(148, 144, 144) ridge;
    border-radius: 1.5em;
    background-color: rgb(10, 10, 46);
    margin: 1em 0.5em;
    padding: 0.5em;
  }
  .button a{
    color: white;

  }
  .button:hover{
    background-color: #02450f;
  }
  footer .foot1{
      display: flex;
    justify-content: space-between;
    color: white;
  }
  .foot1 .part1 p {
    float: right;
      width: 300px;
    margin: 10px 10px
  }
  .footer {
    display: flex;
    justify-content: space-between;
      color: white;
      padding: 1em 0em 0em 1em;
    background-color: #031b42;
    width: 100%;
    position: relative ;
    top: 100%;   
  }
.part1{
  display: flex;

}
.footer img:hover{
  background-color: #05e35e;
  border-radius: 50%;
 
}

/*about me*/
.about-container{
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
    color: white
}
.page_heading{
 margin: 1em 10em 0em 10em;
 font-size: xx-large;
 color: white;
}
/* about section*/
.about-container #aboutme p{
  color: white;
  margin: 3.5em 2em;
  
  
}
#aboutme{
  display: flex;
  justify-content: center;
  font-size: 1.25em
}
#about_profileimg{
  display: block;
  margin:2em 1em;
  border-radius: 3em;
}

#aboutme1{
  display: flex;
  height: 15em;
  flex-direction: column;
  flex-wrap: wrap;
}
#aboutme1 p{
    color: white; 
  margin: 1.5em;
}




.contact-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin:1em;
  color:white;
  
}
.main-contact {
  margin: 1em;
  padding:2em;
  background-color: #031b42;
  border: solid rgb(148, 144, 144);
  border-radius: 1em;
}
.main-contact *{
  margin: 1em 0em;
}
form {
  display: grid;
  grid-template-columns: 10em 50%;
  grid-gap: 1em;
  background-color:#031b42; 
  padding: 2em;
  border: solid rgb(148, 144, 144);
  border-radius: 1em;
  
}
input, textarea{
  margin: 0.5em;
  padding:0.5em;
  border-radius: 0.5em;
}


/*contact

.contact .contact-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em ;
  color:white;
}
.contact .contact-container .main-contact{
 display: flex;
 flex-direction: column;

}
.contact .contact-container .main-contact p{
    margin-top: 4em;

}

.contact .contact-container .contact-form{
  margin: 1em 3em;
  color:white;
}
.contact .contact-container .contact-form input, textarea{
  display: inline-block;
  width:80%;
  margin: 1em;
  padding: 0.3em;
  color:white;
  border-radius: 2em;
}
.contact .contact-container .main-contact .contact_info li{ 
    margin: 1em 1em;
}


/*contact*/


/*project*/
.projects{
  display: flex;
 flex-wrap: wrap;
  margin: 6em;
  color: white;
}
.projects li{
  display: block;
  width:15em;
  border:solid;
  border-radius: 2em;
  margin: 1em;
  padding: 1em;  
  background-color:rgb(10,54,105);
  box-shadow: 0.3em 0.3em 0 0 lightgray;
}
.projects li:hover{
  position:relative;
  top:-0.5em;
  right: 0.5em;
}
.projects li img{
    width: 100%;
  border-radius: 1em;
}
.projects li .button{
  background-color: rgb(10, 10, 46);
  padding:0.2em 1.5em;
  position: relative;
  left: 30%;
  top: 16%;

}
/*project*/
/*myskills*/
.skills-container{
  margin:8em 2em;
  color: white;
  height: auto;
}
.skills-container .myskills{
  display:flex;
  flex-wrap: wrap;
  color: white;
}
.aboutskills{
  width:80%;
}

.progress {
  width: 100%;
  max-width: 100%;
  border: 0.1em solid rgb(10, 10, 46);
  background-color:white;
  border-radius: 0.5em;
  height: 30px;
}
.progress .progressbar {
  height: 100%;
  width: 95%;
  background-color: rgb(10, 10, 46);
  animation: fill-bar 3s ;
}
@keyframes fill-bar {
  from {width: 0%;}
  to {width: 95%;}
}
.skill{
  display: flex;
  flex-wrap: wrap;
  margin:1em 1em;
  width: 30%;
  justify-content: space-between;
}

/*certificate*/
.certificate-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certificate{
  display:flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  color: white;
  background-color: #031b42;
  width:80%;
  border-radius:1em;
}
.certificate .button{
  display: inline;
  width:10em;
  text-align: center;
}
.certificate .buttons{
   display: inline-flex;
   justify-content: end;
   margin-bottom: 0em;
}
.certificate:hover{
  position: relative;
  
  top: 0.5em;
  left: 0.5em;
  box-shadow: 0 0 0 0.2em rgb(44,161,107);
}
/*certificate*/

/*resume*/
.resume{
  display: flex;
  flex-direction: column;
  color: white;
  margin: 5em 3em; 
}
table {
  font-family: arial, sans-serif;
  border:solid;
  width: 80%;

}
thead{
  background-color: rgb(10, 10, 46);
}

td, th {
  border: 0.1em solid #dddddd;
  text-align: left;
  padding: 1em;;
}
.resume p{
  margin: 5em 0 0 1em;
  width:80%
}
.resume h2{
  margin: 0.5em;
}
.resume .button{
  width: 10em;
  text-align: center;
}
.resume .education, .experience{
 margin: 0.5em;
}
